
/* COMMON STYLES */

:root{
    /* COLORS */
    --bg-top-nav : #041F4A;
    --bg-nav: #052962;
    --bg-main: #F1F8FC;
    --color-important: #FFE500;
    --color-title:  #C70000;
    --color-new-text: #041F4A;
}

*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
header{
    margin: 0 auto;
}

.icon{
    width: 24px;
    height: 24px;
}

body{
    font-family: "Helvetica Neue",Helvetica, sans-serif;
    background-color: var(--bg-main);
    color: var(--color-new-text);
}

/* TOP NAV */

.top-nav-outer{
      background-color: var(--bg-top-nav);
    width: 100%;
}
.top-nav{
    color: white;
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    padding-bottom: 5px;
    padding-left: 0.5rem;
    gap: 8px;
    width: 90%;
    /* background-color: #0d80a3f6; */
}

.header-top-nav-item{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-top:0.3rem;
}

.top-nav a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
}


@media screen and (max-width:968px){
    .top-nav a,
    .top-nav svg
    {
        display: none;    
    }
    .top-nav{
        justify-content: flex-start;
        
    }
    .top-nav a.visible-link,
    .top-nav .icon-sign
    {
        font-weight: 300;
        display: inline-block;
    }
}

/* TOP NAV ENDED */

/* BANNER STARTED */
.banner{
    background-color: var(--bg-nav);
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    font-family: Helvetica, sans-serif;
}

.banner-outer{
    width: 90%;
    display: flex;
    justify-content:space-between;
 
    /* background-color: yellow; */
}

.banner-right{
    /* background-color: yellow; */
    padding-top: 1rem;
}

.banner h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    line-height: 2;
    color: var(--color-important);
}

.banner p{
    line-height: 2.1;
}

.banner-logo{
    width: 224px;
    /* height: 272px; */
    filter: brightness(0) invert(1);
}

.support{
    background-color: var(--color-important);
    color: var(--color-new-text);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:0.4rem 0.8rem;
    border: none;
    outline: none;
    border-radius:1.5rem;
    


}

/* BANNER ENDED */